/* ParentalControls.less */

.container {
  margin: 0 auto;
  max-width: 400px;
}

#activity-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#header {
  text-align: center;
  margin-bottom: 20px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-size: 24px;
  font-weight: bold;
}

input[type='password'] {
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

input[type='email'] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 58px;
}

.submit-button {
  background-color: #3D5C82;
  color: #FFFFFF;
  padding: 4px 0; /* Adjust the padding to control the size */
  font-size: 16px; /* Increase the text size inside the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.3s;
  width: 200px; /* Set a fixed width to make the button shrink horizontally */
}

.submit-button:hover {
  background-color: #0056b3;
}

.center-button {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}