@import "../../assets/style";

.container {
  padding: 20px;
}

#activity-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

#header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select, input {
  margin-top: 20px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 40px;
}

#project-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin-top: 20px; 
}

.project-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  width: 300px; 
  margin: 0 15px 20px; 
}

.project-name {
  font-weight: bold;
}

.project-category {
  margin-top: 10px;
  color: #666;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.past-program-button,
.share-button,
.navigate-button {
  padding: 5px 20px; 
  font-size: 16px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.share-button {
  padding: 1px 16px;
  background-color: #3D5C82; 
  color: #fff;
}

.navigate-button {
  background-color: #3D5C82; 
  color: #fff;
}

.button-group button:hover {
  background-color: #555; 
  color: #fff;
}
