@import "../../assets/style";

#grades-title {
    color: #colors[text-primary];
    margin-top: 1px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  #grades-section {
    background-color: lightblue;
    border: 4px solid rgb(116, 192, 255);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
  }